{% extends 'aplicacion/home.html' %}

{% block titulo %}
<!-- Header-->
<header class="py-5" style="background-color: #17E8CB;">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Acerca de mi</h1>
                        
            </div>
        </div>
    </div>
</header>
{% endblock titulo %}

{% block contenido %}
<body>
    <div class="container">
        <h2>Les cuento...</h2>
        <h6><p>Me llamo Mario, tengo 45 años, un hijo hermoso que se llama Geronimo de 8 años. Casado con Grisel hace 16. </p>
        <p>Nací en Lujan, al año nos mudamos a Corrientes, me crie en un pintoresco pueblo litoraleño llamado Empedrado. En la costa del rio Paraná.</p>
        <p>A los 18 me fui a Resistencia, Chaco a estudiar en la UTN Ingeniería en Sistemas. Deje la carrera en 3er año.</p>
        <p>En 2010 me mude a Córdoba para trabajar en Claro, pase por desarrollo en PL-SQL y desde 2011 estoy en el área de Fraude Técnico.</p>
        <p>Luego de la pandemia me inscribí en la carrera de Licenciatura en Ciencia de Datos de la Siglo XXI. Voy cursando el segundo año.</p>
        <br></h6>
        <h2>Sobre Python</h2>
        <h6><p>Lo empecé a conocer al lenguaje cuando empezamos a trabajar en el área con modelos predictivos.</p>
        <p>Si bien el curso no estaba orientado a ML/IA, me sirvió mucho para conocer con más detalles otros ámbitos de aplicación.</p>
        </h6>
        <h2>Contacto</h2>
        <h6><p>Email: moyarzabal@claro.com.ar<br>
        Teléfono: 5493517659550<br>
        LinkedIn: <a href="https://www.linkedin.com/in/mario-oyarzabal" target="_blank">Mi Perfil de LinkedIn</a></h6></p>
    </div>
</body>
{% endblock contenido %}

{% block menues %}

{% endblock menues %}