{% extends 'aplicacion/home.html' %}

{% block titulo %}
<!-- Header-->
<header class="py-5" style="background-color: #17E8CB;">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Area de Clientes</h1>
                        
            </div>
        </div>
    </div>
</header>
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td width="200"><h6>Agregar un nuevo cliente</h6></td>
        <td>
            <a
            href="{% url 'clientes_forms' %}"
            class="btn btn-primary btn-sm">
            <i class="fa fa-plus fa-lg" title="Crear" style="font-size: 12px;"> </i>
            </a>
        </td>
    </tr>   
</table>

    <table class="table table-striped">
        <thead>
            <tr>
                <br>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Fecha nacimiento</th>
                <th>Domicilio</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
    {% for c in clientes  %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre|capfirst }}</td>
                <td>{{ c.apellido|capfirst }}</td>
                <td>{{ c.dni }}</td>
                <td>{{ c.fecha_nacimiento }}</td>
                <td>{{ c.domicilio|capfirst }}</td>
                <td>{{ c.email }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}

{% block menues %}
{% csrf_token %}
<table> 
    <tr>
        <td><label for="buscarDNI">Buscar DNI:</label></td> 
        <td><label for="buscarNombre">Buscar nombre:</label></td> 
    </tr>
    <tr> 
        <td><form class="form-inline" action="{% url 'buscarClientes' %}" method="get">
            <input type="text" name="buscar" id="buscarDNI">
            <button type="submit">Buscar</button></form></td> 
        <td><form class="form-inline" action="{% url 'buscarClientesNombre' %}" method="get">
            <input type="text" name="buscar" id="buscarNombre">
            <button type="submit">Buscar</button></form></td> 
    </tr>
</table>

{% endblock menues %}

    
    