{% extends 'aplicacion/home.html' %}

{% block titulo %}
<!-- Header-->
<header class="py-5" style="background-color: #17E8CB;">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Area de Productos</h1>
                        
            </div>
        </div>
    </div>
</header>
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td width="250"><h6>Agregar un nuevo producto</h6></td>
        <td>
            <a
            href="{% url 'producto_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear" style="font-size: 12px;"> </i>
            </a>
        </td>
    </tr>   
</table>

    <table class="table table-striped">
        <thead>
            <tr>                
                <br>
                <th>Id producto</th>
                <th>Id_proveedor</th>
                <th>Nombre</th>
                <th>Presentacion</th>
                <th>fecha elaboracion</th>
                <th>Fecha vencimiento</th>
                <th>Droga</th>
                <th>Precio</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
    {% for c in producto_list  %}
            <tr>
                <td>{{ c.id_producto }}</td>
                <td>{{ c.id_proveedor }}</td>
                <td>{{ c.nombre|capfirst }}</td>
                <td>{{ c.presentacion }}</td>
                <td>{{ c.fecha_elav }}</td>
                <td>{{ c.fecha_vence }}</td>
                <td>{{ c.droga|capfirst }}</td>
                <td>{{ c.precio }}</td>
                <td>
                    <a
                      href="{% url 'producto_update' c.id %}"
                      class="btn btn-primary"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-edit fa-sm" title="Edit Producto"></i>
                    </a>
                    <a
                      href="{% url 'producto_delete' c.id %}"
                      class="btn btn-danger"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-trash fa-sm" title="Delete Producto"></i>
                    </a>                
                  </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}

{% block menues %}
{% csrf_token %}
<table> 
    <tr>
        <td><label for="buscarNombre">Buscar nombre:</label></td> 
        <td><label for="buscarDroga">Buscar droga:</label></td> 
    </tr>
    <tr> 
        <td><form class="form-inline" action="{% url 'buscarProductos' %}" method="get">
            <input type="text" name="buscar" id="buscarNombre">
            <button type="submit">Buscar</button></form></td> 
        <td><form class="form-inline" action="{% url 'buscarproductosDroga' %}" method="get">
            <input type="text" name="buscar" id="buscarDroga">
            <button type="submit">Buscar</button></form></td> 
    </tr>
</table>

{% endblock menues %}